<div class="side-nav">
    <div class="menu">
        <div class="image">
            <img src="" alt="Logo Here">
        </div>
        <div class="main-menu">
            <div class="overview">
                Overview
            </div>
            <div class="Onboarding">
                Onboarding
            </div>
            <div class="Monitoring">
                Monitoring
            </div>
            <div class="Flagging">
                Flagging
            </div>
            <div class="Source-of-Income">
                Source of Income
            </div>
            <div class="UAR">
                UAR
            </div>
        </div>
        <div class="profile">
            <div class="avatar-text">
                <img src="" alt="p" class="profile-img">
                <div class="avatar-name">
                    <div class="name">Elon Musk</div>
                    <div class="email">swapnil@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
</div>